@import '../../_variables';

.errorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 90%;
    max-width: 70px;
    height: auto;
  }

  &__heading {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: $primary-color;
    opacity: 0.8;
  }

  &__context {
    margin-top: 0.7rem;
    font-size: 0.9rem;
    color: $text-color;
  }
}
